absl-py                   1.3.0              pyhd8ed1ab_0    conda-forge
aiohttp                   3.8.3            py38h91455d4_0    conda-forge
aiosignal                 1.2.0              pyhd8ed1ab_0    conda-forge
aom                       3.5.0                h63175ca_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
apptools                  5.3.0                    pypi_0    pypi
argon2-cffi               21.3.0             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
argon2-cffi-bindings      21.2.0           py38h294d835_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
asttokens                 2.0.8              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
async-timeout             4.0.2              pyhd8ed1ab_0    conda-forge
attrs                     22.1.0             pyh71513ae_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
backcall                  0.2.0              pyh9f0ad1d_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
backports                 1.0                        py_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
backports.functools_lru_cache 1.6.4              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
beautifulsoup4            4.11.1             pyha770c72_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
blas                      2.116                       mkl    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
blas-devel                3.9.0              16_win64_mkl    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
bleach                    5.0.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
blinker                   1.5                pyhd8ed1ab_0    conda-forge
bokeh                     2.4.3              pyhd8ed1ab_3    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
brotlipy                  0.7.0           py38h294d835_1004    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
bzip2                     1.0.8                h8ffe710_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
c-ares                    1.18.1               h8ffe710_0    conda-forge
ca-certificates           2022.9.24            h5b45459_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
cachetools                5.2.0              pyhd8ed1ab_0    conda-forge
certifi                   2022.9.24                pypi_0    pypi
cffi                      1.15.1           py38hd8c33c5_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
chardet                   5.2.0                    pypi_0    pypi
charset-normalizer        2.1.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
click                     8.1.3            py38haa244fe_0    conda-forge
colorama                  0.4.5              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
comm                      0.2.2                    pypi_0    pypi
configargparse            1.7                      pypi_0    pypi
configobj                 5.0.9                    pypi_0    pypi
contourpy                 1.0.5                    pypi_0    pypi
cryptography              38.0.1           py38h086c683_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
cudatoolkit               11.3.1              h280eb24_10    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
cvxopt                    1.3.0                    pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
dash                      2.18.2                   pypi_0    pypi
dash-core-components      2.0.0                    pypi_0    pypi
dash-html-components      2.0.0                    pypi_0    pypi
dash-table                5.0.0                    pypi_0    pypi
debugpy                   1.6.3            py38h885f38d_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
decorator                 5.1.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
defusedxml                0.7.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
entrypoints               0.4                pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
envisage                  7.0.3                    pypi_0    pypi
executing                 1.1.0              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
expat                     2.4.9                h1537add_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
ffmpeg                    4.4.2           gpl_h952562b_108    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
flask                     2.2.2                    pypi_0    pypi
flask-cors                5.0.0                    pypi_0    pypi
flask-sqlalchemy          3.0.3                    pypi_0    pypi
flit-core                 3.7.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
font-ttf-ubuntu           0.83                 hab24e00_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
fontconfig                2.14.0               h720f74d_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
fonts-conda-ecosystem     1                             0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
fonts-conda-forge         1                             0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
fonttools                 4.37.4                   pypi_0    pypi
freeglut                  3.2.2                h0e60522_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
freetype                  2.12.1               h546665d_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
frozenlist                1.3.1            py38h294d835_0    conda-forge
gettext                   0.19.8.1          h5728263_1009    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
glib                      2.74.0               h12be248_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
glib-tools                2.74.0               h12be248_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
google-auth               2.13.0             pyh1a96a4e_0    conda-forge
google-auth-oauthlib      0.4.6              pyhd8ed1ab_0    conda-forge
greenlet                  2.0.2                    pypi_0    pypi
grpc-cpp                  1.48.1               h535cfc9_1    conda-forge
grpcio                    1.48.1           py38h0603203_1    conda-forge
gst-plugins-base          1.20.3               h001b923_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
gstreamer                 1.20.3               h6b5321d_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
icu                       70.1                 h0e60522_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
idna                      3.4                pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
imageio                   2.31.6                   pypi_0    pypi
importlib-metadata        4.11.4           py38haa244fe_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
importlib_resources       5.9.0              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
intel-openmp              2022.1.0          h57928b3_3787    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
ipykernel                 6.16.0             pyh025b116_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
ipython                   8.5.0              pyh08f2357_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
ipython_genutils          0.2.0                      py_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
ipywidgets                8.1.5                    pypi_0    pypi
itsdangerous              2.1.2                    pypi_0    pypi
jasper                    2.0.33               h77af90b_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
jedi                      0.18.1             pyhd8ed1ab_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
jinja2                    3.1.2              pyhd8ed1ab_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
joblib                    1.2.0              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
jpeg                      9e                   h8ffe710_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
jsonschema                4.16.0             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
jupyter-core              5.7.2                    pypi_0    pypi
jupyter_client            7.3.5              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
jupyterlab-widgets        3.0.13                   pypi_0    pypi
jupyterlab_pygments       0.2.2              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
kiwisolver                1.4.4                    pypi_0    pypi
krb5                      1.19.3               h1176d77_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
lazy-loader               0.3                      pypi_0    pypi
lcms2                     2.12                 h2a16943_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
lerc                      4.0.0                h63175ca_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libabseil                 20220623.0      cxx17_h1a56200_4    conda-forge
libblas                   3.9.0              16_win64_mkl    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libcblas                  3.9.0              16_win64_mkl    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libclang                  14.0.6          default_hf4acfee_0    https://mirrors.ustc.edu.cn/anaconda/pkgs/main
libclang13                14.0.6          default_h8992b79_0    https://mirrors.ustc.edu.cn/anaconda/pkgs/main
libdeflate                1.14                 hcfcfb64_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libffi                    3.4.2                h8ffe710_5    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libglib                   2.74.0               h79619a9_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libiconv                  1.17                 h8ffe710_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
liblapack                 3.9.0              16_win64_mkl    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
liblapacke                3.9.0              16_win64_mkl    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libogg                    1.3.4                h8ffe710_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libopencv                 4.6.0            py38hc345dbc_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libpng                    1.6.38               h19919ed_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libprotobuf               3.21.7               h12be248_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libsodium                 1.0.18               h8d14728_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libsqlite                 3.39.4               hcfcfb64_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libtiff                   4.4.0                h8e97e67_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libuv                     1.44.2               h8ffe710_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libvorbis                 1.3.7                h0e60522_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libwebp-base              1.2.4                h8ffe710_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libxcb                    1.13              hcd874cb_1004    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libxml2                   2.9.14               hf5bbc77_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
libzlib                   1.2.12               hcfcfb64_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
lxml                      5.3.0                    pypi_0    pypi
m2w64-gcc-libgfortran     5.3.0                         6    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
m2w64-gcc-libs            5.3.0                         7    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
m2w64-gcc-libs-core       5.3.0                         7    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
m2w64-gmp                 6.1.0                         2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
m2w64-libwinpthread-git   5.0.0.4634.697f757               2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
markdown                  3.4.1              pyhd8ed1ab_0    conda-forge
markupsafe                2.1.1            py38h294d835_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
matplotlib                3.6.0                    pypi_0    pypi
matplotlib-inline         0.1.6              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
mayavi                    4.8.2                    pypi_0    pypi
mistune                   2.0.4              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
mkl                       2022.1.0           h6a75c08_874    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
mkl-devel                 2022.1.0           h57928b3_875    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
mkl-include               2022.1.0           h6a75c08_874    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
msys2-conda-epoch         20160418                      1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
multidict                 6.0.2            py38h294d835_1    conda-forge
nb_conda                  2.2.1                     win_6    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
nb_conda_kernels          2.3.1            py38haa244fe_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
nbclient                  0.7.0              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
nbconvert                 7.2.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
nbconvert-core            7.2.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
nbconvert-pandoc          7.2.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
nbformat                  5.10.4                   pypi_0    pypi
nest-asyncio              1.5.6              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
networkx                  3.1                      pypi_0    pypi
ninja                     1.11.1                   pypi_0    pypi
notebook                  6.4.12             pyha770c72_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
numpy                     1.23.3           py38h8503d5b_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
oauthlib                  3.2.2              pyhd8ed1ab_0    conda-forge
open3d                    0.18.0                   pypi_0    pypi
opencv-python             4.6.0.66                 pypi_0    pypi
openh264                  2.3.1                h63175ca_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
openjpeg                  2.5.0                hc9384bd_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
openssl                   1.1.1s               hcfcfb64_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
packaging                 21.3               pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pandas                    1.5.0                    pypi_0    pypi
pandoc                    2.19.2               h57928b3_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pandocfilters             1.5.0              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
parso                     0.8.3              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pcre2                     10.37                hdfff0fc_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pickleshare               0.7.5                   py_1003    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pillow                    8.0.0                    pypi_0    pypi
pip                       22.2.2             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pkgutil-resolve-name      1.3.10             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
platformdirs              4.3.6                    pypi_0    pypi
plotly                    5.24.1                   pypi_0    pypi
prometheus_client         0.14.1             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
prompt-toolkit            3.0.31             pyha770c72_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
protobuf                  4.21.7           py38hd3f51b4_0    conda-forge
psutil                    5.9.2            py38h91455d4_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pthread-stubs             0.4               hcd874cb_1001    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pure_eval                 0.2.2              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
py-opencv                 4.6.0            py38h4317176_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pyasn1                    0.4.8                      py_0    conda-forge
pyasn1-modules            0.2.7                      py_0    conda-forge
pycparser                 2.21               pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pyface                    8.0.0                    pypi_0    pypi
pygments                  2.13.0             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pyjwt                     2.6.0              pyhd8ed1ab_0    conda-forge
pymysql                   1.0.2                    pypi_0    pypi
pyopenssl                 22.0.0             pyhd8ed1ab_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pyparsing                 3.0.9              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pypng                     0.20220715.0             pypi_0    pypi
pyrsistent                0.18.1           py38h294d835_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pysocks                   1.7.1              pyh0701188_6    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
python                    3.8.13          h9a09f29_0_cpython    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
python-dateutil           2.8.2              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
python-fastjsonschema     2.16.2             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
python_abi                3.8                      2_cp38    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pytorch                   1.10.0          py3.8_cuda11.3_cudnn8_0    https://mirrors.bfsu.edu.cn/anaconda/cloud/pytorch
pytorch-mutex             1.0                        cuda    https://mirrors.bfsu.edu.cn/anaconda/cloud/pytorch
pytorchcv                 0.0.67             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pytz                      2022.4                   pypi_0    pypi
pyu2f                     0.1.5              pyhd8ed1ab_0    conda-forge
pywavelets                1.4.1                    pypi_0    pypi
pywin32                   303              py38h294d835_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pywinpty                  2.0.8            py38hd3f51b4_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pyyaml                    6.0              py38h294d835_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
pyzmq                     24.0.1           py38ha85f68a_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
qt-main                   5.15.6               hf0cf448_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
qtorch                    0.3.0                    pypi_0    pypi
re2                       2022.06.01           h0e60522_0    conda-forge
redis                     5.0.1                    pypi_0    pypi
requests                  2.28.1             pyhd8ed1ab_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
requests-oauthlib         1.3.1              pyhd8ed1ab_0    conda-forge
retrying                  1.3.4                    pypi_0    pypi
rsa                       4.9                pyhd8ed1ab_0    conda-forge
scikit-image              0.21.0                   pypi_0    pypi
scikit-learn              1.1.2            py38hc27f28a_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
scipy                     1.9.1                    pypi_0    pypi
send2trash                1.8.0              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
setuptools                59.5.0                   pypi_0    pypi
six                       1.16.0             pyh6c4a22f_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
soupsieve                 2.3.2.post1        pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
sqlalchemy                2.0.11                   pypi_0    pypi
sqlite                    3.39.4               hcfcfb64_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
stack_data                0.5.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
svt-av1                   1.2.1                h0e60522_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
tabulate                  0.9.0                    pypi_0    pypi
tbb                       2021.6.0             h91493d7_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
tenacity                  9.0.0                    pypi_0    pypi
tensorboard               2.10.1             pyhd8ed1ab_0    conda-forge
tensorboard-data-server   0.6.0            py38haa244fe_2    conda-forge
tensorboard-plugin-wit    1.8.1              pyhd8ed1ab_0    conda-forge
tensorboardx              2.2                pyhd3eb1b0_0    https://mirrors.ustc.edu.cn/anaconda/pkgs/main
terminado                 0.16.0             pyh08f2357_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
threadpoolctl             3.1.0              pyh8a188c0_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
tifffile                  2023.7.10                pypi_0    pypi
tinycss2                  1.1.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
tk                        8.6.12               h8ffe710_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
torch-tb-profiler         0.4.0                    pypi_0    pypi
torchaudio                0.10.0               py38_cu113    https://mirrors.bfsu.edu.cn/anaconda/cloud/pytorch
torchsummary              1.5.1                    pypi_0    pypi
torchvision               0.11.1               py38_cu113    https://mirrors.bfsu.edu.cn/anaconda/cloud/pytorch
tornado                   6.2              py38h294d835_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
tqdm                      4.64.1                   pypi_0    pypi
traitlets                 5.4.0              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
traits                    6.4.3                    pypi_0    pypi
traitsui                  8.0.0                    pypi_0    pypi
typing-extensions         4.4.0                hd8ed1ab_0    conda-forge
typing_extensions         4.4.0              pyha770c72_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
ucrt                      10.0.20348.0         h57928b3_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
urllib3                   1.26.12                  pypi_0    pypi
vc                        14.2                 hac3ee0b_8    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
vs2015_runtime            14.29.30139          h890b9b1_8    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
vtk                       9.3.1                    pypi_0    pypi
wcwidth                   0.2.5              pyh9f0ad1d_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
webencodings              0.5.1                      py_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
werkzeug                  2.2.2              pyhd8ed1ab_0    conda-forge
wheel                     0.37.1             pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
widgetsnbextension        4.0.13                   pypi_0    pypi
win_inet_pton             1.1.0            py38haa244fe_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
winpty                    0.4.3                         4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
x264                      1!164.3095           h8ffe710_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
x265                      3.5                  h2d74725_3    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
xorg-libxau               1.0.9                hcd874cb_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
xorg-libxdmcp             1.1.3                hcd874cb_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
xz                        5.2.6                h8d14728_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
yaml                      0.2.5                h8ffe710_2    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
yarl                      1.7.2            py38h294d835_2    conda-forge
zeromq                    4.3.4                h0e60522_1    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
zipp                      3.8.1              pyhd8ed1ab_0    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
zlib                      1.2.12               hcfcfb64_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge
zstd                      1.5.2                h7755175_4    https://mirrors.aliyun.com/anaconda/cloud/conda-forge